.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.vaults-container
{
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

#databases{min-width: 180px;}
#new-vault-btn
{
    padding: 0.4rem 0.8rem;
    font-weight: bold;
}