body
{
    max-width: 900px;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

p
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

span
{
    font-weight: bold;
}