body
{
    max-width: 1200px;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

#exposure-list
{
    margin: 0;
    padding-left: 20px;
}

#positions-table a
{
    color: #1976d2;
}