body
{
    max-width: 1200px;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

button.edit
{
    background-color: #ffe8a1;
}

button.delete
{
    background-color: #f5b7b1;
}

td.actions
{
    display: flex;
    gap: 5px;
}

#filter-form
{
    align-items: center;
}